{% extends "./profile.html" %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    {% block title %}
        <title>Avaliações</title>
    {% endblock %}

    {% load static %}
    {% load registerfilters %}

</head>
<body>

<!- ======= Breadcumbs ======= -->

{% block pageName %}
    <li>Avaliações</li>
{% endblock %}

{% block content %}
    <section class="events create">
        <div class="container">
            <div class="section-title" style="margin-bottom: -20px">
                {% block nameForm %}
                <h3>
                    Avaliações
                </h3>
                {% endblock %}
                </div>
                {% for avaliacao in avaliacoes %}
                    <div id="divDivisao">

                        {% if avaliacao.avaliador|getImagemPerfil %}
                            <img src="{% static avaliacao.avaliador|getImagemPerfil %}" id=" img{{ avaliacao.avaliador.id }}"
                             style="width: 100px; height: 100px" title="" alt="">
                        {% else %}
                            <img src="{% static 'webdanceteria/img/user.png' %}" id=" img{{ avaliacao.avaliador.id }}"
                             style="width: 100px; height: 100px" title="" alt="">
                        {% endif %}
                        <h5 class="eventoNome"> Evento: {{ avaliacao.evento.nome }}</h5>
                        <p class="p"> Avaliador: {{ avaliacao.avaliador|getNome }}</p>
                        <p class="p"> Rating: {{ avaliacao.rating }}</p>

                        <p class="p"> {{ avaliacao.titulo }}</p>
                        <p class="p"> {{ avaliacao.descricao }} </p>

                    </div>
                {% endfor %}
        </div>
    </section>
{% endblock %}
</body>
</html>