{% extends "./home.html" %}
{% load static %}

{% block title %}
    <title>Criar Aula</title>
{% endblock %}

{% block content %}
    <body>

    <!-- ======= Hero Section -- Forms ======= -->
    <section id="hero" style="height: auto" class="hero-register">
        <div class="container" style="padding-top: 10px;" data-aos="fade-up">

            <div class="row justify-content-center" style="height: auto" data-aos="fade-up" data-aos-delay="150">
                <h1 style="margin-bottom: 25px">
                    {% block registertitle %}
                    {% endblock %}
                </h1>
                <h2> Por favor, preencha os seguintes dados </h2>

                <div class="row gy-2 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
                    <form method="post" class="login-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ form.nome.id_for_label }}">Nome da aula:</label>
                            {{ form.nome }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.data_hora.id_for_label }}">Data e hora do evento:</label>
                            {{ form.data_hora }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.preco_bilhete.id_for_label }}">Preço do bilhete:</label>
                            {{ form.preco_bilhete }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.bilhetes_disponiveis.id_for_label }}">Bilhetes disponíveis para
                                venda:</label>
                            {{ form.bilhetes_disponiveis }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.instrutor_id.id_for_label }}">Instrutor:</label>
                            {{ form.instrutor_id }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.nivel_aconselhado.id_for_label }}">Nível aconselhado:</label>
                            {{ form.nivel_aconselhado }}
                        </div>
                        <div class="my-3">
                            <div class="loading">Carregando</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Completo!</div>
                        </div>
                        <div class="text center">
                            <button type="submit" class="btnlog">Criar</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section><!-- End Hero -->

{% endblock %}
