<header id="header" class="header-inner-pages" >  <!-- class="fixed-top" -->
    <div class="container d-flex align-items-center justify-content-lg-between ">
        <h1 class="logo me-auto me-lg-0"><a href="{% url 'webdanceteria:home' %}"> Danç'Arte <span>.</span></a></h1>
        <!-- usada para posicionar a navbar na última posição quando vista em dispositivos com resolução
          maior que a especificada pelo breakpoint "lg"  -->
        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto" href="{% url 'webdanceteria:home' %}">Home</a></li>
                <li><a class="nav-link scrollto" href="{% url 'webdanceteria:home' %}">Sobre nós</a></li>
                {% block active %}
                    <li><a class="nav-link scrollto" href="{% url 'webdanceteria:events_view' %}">Eventos</a></li>
                    {% if request.user.is_authenticated %}
                        <li><a class="nav-link scrollto " href="#portfolio">Fórum</a></li>
                    {% endif %}

                    {% if request.user.is_authenticated %}
                        <li><a class="nav-link scrollto" href="{% url 'webdanceteria:profile_view' %}">Perfil</a></li>
                    {% endif %}

                {% endblock %}
                <li><a class="nav-link scrollto" href="#footer">Contactos</a></li>
            </ul>
        </nav><!-- .navbar -->

        {% if request.user.is_authenticated %}
            <a href="{% url 'webdanceteria:logout_view' %}" class="log-btn scrollto">Logout</a>
        {% else %}
            <a href="{% url 'webdanceteria:register_member_view' %}" class="log-btn scrollto" style="margin-right: -40px">Registar</a>
            <a href="{% url 'webdanceteria:login_view' %}" class="log-btn scrollto">Login</a>
        {% endif %}


    </div>
</header>