{% extends "./home.html" %}
<html lang="en">

{% block title %}
    <title>Registar</title>
{% endblock %}

{% load static %}


<body>
{% block content %}
    <!-- ======= Hero Section -- Forms ======= -->
    <section id="hero" style="height: auto" class="hero-register">
        <div class="container" style="padding-top: 10px;" data-aos="fade-up">

            <div class="row justify-content-center" style="height: auto" data-aos="fade-up" data-aos-delay="150">
                <h1 style="margin-bottom: 25px">
                    {% block registertitle %}
                    {% endblock %}
                </h1>
                <h2> Por favor, prenche os seguintes dados </h2>

                <div class="row gy-2 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
                    <form method="post" class="login-form" enctype="multipart/form-data">
                        {% csrf_token %}

                        {{ form.as_div }}
                        {% if form.imagem_perfil.errors %}
                            <div class="alert alert-danger">
                                {{ form.imagem_perfil.errors }}
                            </div>
                        {% endif %}
                        <div class="my-3">
                            <div class="loading">Carregando</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Completo!</div>
                        </div>
                        <div class="text center">
                            <button type="submit" class="btnlog">Registar</button>
                        </div>
                    </form>

                </div>
            </div>


        </div>
    </section><!-- End Hero -->

{% endblock %}


</body>